<!DOCTYPE html>
<html>
    <header>
    <title>Static html</title>     
    </header>

    <link rel="stylesheet" href="/css/styles.css">
    <body>
        <div class="main-content">
        <h1>{{>header}}</h1>
        </div>
        {{>footer}}
    </body>

</html>