<!DOCTYPE html>
<html>
    <header>
    <title>Static html</title>     
    </header>

    <link rel="stylesheet" href="/css/styles.css">
    <body>
        <div class="main-content">
        <h1>{{>header}}</h1>
        <p>This is a website created by Saksham Pratap Singh. It uses Node.js as the backend framework and weather stack API for the information.</p>
        </div>
        <img class="imagescl" src="/images/cloud.jpg" alt="Cloud Image">
        {{>footer}}
    </body>

</html>